{% extends "base.html" %}
{% block top%}

<! DOCTYPE html>
<html lang="el">

{% endblock top %}



{% block head %}
{{ super() }}
{% endblock head %}


{% block content %}

<div class="blog_post">
        <h3>Το γράμμα ενός βρικόλακα</h3><br>

        <p>Αγαπητή Ελισαβέτα,</p><br>
        <p>&nbsp;&nbsp;
            Ελπίζω να με συγχωρέσεις για αυτό που ετοιμάζομαι να κάνω.
        Η ζωή μου έχασε το νόημα της, νιώθω σαν φυλακισμένος σαν αλυσοδεμένος και υπάρχει
        μόνο ένας δρόμος προς την ελευθερία – ο θάνατος!</p><br>

        <p>&nbsp;&nbsp;
        Καταραμένη να είναι η μέρα που σε πρωτοείδα.
        Η ομορφιά σου με κυρίεψε. Τα χρυσά μαλλιά σου ανέμιζαν από το χαλαρό αέρα του Αυγούστου,
        τα μαύρα, σαν τον άναστρο ουρανό μάτια σου σπινθήριζαν, το χαμόγελο σου,
        ικανό να υποτάσσει κάθε ζωντανό ον στον πλανήτη, έλαμπε σαν τον ήλιο.
        Είσαι φάρσα του Θεού ή μήπως δημιουργία του διαβόλου;</p><br>

        <p>&nbsp;&nbsp;
        Θυμάσαι, σε πλησίασα, χωρίς να προλάβω να πω λέξη; Με κοίταξες στα μάτια, έχασα την αίσθηση του χρόνου,
        η γη σταμάτησε για μένα, ξέχασα όλες της λέξεις που τόσην ώρα ετοίμαζα για να σου πω.
        Ο μόνος ήχος που άκουγα, ήτανε ο ήχος της καρδιάς μου.
        Μου χαμογέλασες και με ρώτησες «τη ονειρεύεστε;» Με εξέπληξες, η ερώτηση σου μου φάνηκε άνευ σημασίας,
        όμως απάντησα άμεσα «ονειρεύομαι να ζω αιώνια, με μια γυναίκα σαν εσάς» </p><br>

        <p>&nbsp;&nbsp;
        Δυστυχώς αυτό ήταν το λάθος μου! Από εκείνη την ημέρα η καρδιά μου σταμάτησε να χτύπα.
        Από το φαγητό δεν έπαιρνα καμία απόλαυση, τα ναρκωτικά δεν με διέγειραν.
        Η μόνη μου ελπίδα ήτανε να αγαπήσω, μόνο η αγάπη θα μπορούσε να με δώσει δύναμη να συνεχίσω να ζω.
        Κουράστηκα όμως να περιμένω, μάλλον είμαι καταδικασμένος να πεθάνω, χωρίς να νιώσω αυτό το συναίσθημα.</p><br>

        <p>&nbsp;&nbsp;
        Αντίο, Ελισαβέτα, ελπίζω στο ότι υπάρχει Θεός,
        ότι υπάρχει Άδης και θα καείς στην κόλαση.</p><br>

        <p style="text-align:right">Αλέξανδρος </p>

        <p class="post_date">Kelesidis Levan 7.11.2012 </p>

    </div>

{% endblock  %}

{% block footer %}
{{ super() }}
{% endblock %}

