{% extends "base.html" %}
{% block top%}

<! DOCTYPE html>
<html lang="ru">

{% endblock top %}

{% block head %}
{{ super() }}
{% endblock head %}



{% block content %}

<div id="elisabeth_rus_bg" >
    <div class="blog_post" >
        <h3> Письмо вампира </h3>
        <p>&nbsp;&nbsp;Дорогая Елизавета,  </p><br>

        <p>&nbsp;&nbsp;
        Прости меня за то, что я собираюсь сделать. Жизнь стала бессмысленной, серой,
        я чувствую себя как в клетке, как в наручниках,
        а путь к свободе только один - смерть! </p><br>

        <p>&nbsp;&nbsp;
        Я проклинаю тот день, когда впервые увидел тебя.
        Твоя красота покорила меня. Волосы твои, золотого цвета,
        развевающиеся на ветру, черные глаза, как беззвездное небо, улыбка,
        способная подчинить себе любое существо.
        Ты шутка Бога, а может, творение дьявола. </p><br>
        <div id="elisa_rus_img_2" ></div>
        <p>&nbsp;&nbsp;
        Помнишь, я подошел к тебе, не успев сказать ни слова?!
        Ты посмотрела мне в глаза так, что время для меня остановилось,
        я забыл, заранее заготовленные слова, тишина прерывалось только от стука моего сердца.
        Ты улыбнулась и спросила меня: «О чем Вы мечтаете?».
        Я удивился, мне твой вопрос показался очень странным, неуместным,
        но ответил мгновенно: «я мечтаю, прожить вечность с такой женщиной как Вы!».</p><br>

        <p>&nbsp;&nbsp;
        Да, это была моя ошибка! С того дня, мое сердце перестало биться.
        От еды я перестал получать удовольствие, от наркотиков перестал получать блаженство.
        Единственная моя надежда была любовь, которая дала бы мне сил жить дальше.
        Но я устал ее ждать, наверное, я обречен умереть так и не познав это чувство.</p><br>

        <p>&nbsp;&nbsp;
        Прощай, Елизавета, надеюсь, что есть Бог, что есть тьма, и ты сгоришь в аду.</p><br>

        <p style="text-align:right">Твой Александр.</p>
        <p class="post_date">Kelesidis Levan 5.11.2012 </p>
    </div>
 </div>



{% endblock  %}

{% block footer %}
{{ super() }}
{% endblock %}

</html>