{% extends "base.html" %}
{% block top%}

<! DOCTYPE html>
<html lang="ru">

{% endblock top %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div class="blog_post">
            <h3>Ты приходишь, когда не надо</h3><br>

            <p>Ты приходишь, когда не надо,<br>
            Когда сердце тупо молчит.<br>
            Когда осень гуляет садом,<br>
            А хандра мою груд точит.<br>
            Когда сердцу не до парада,<br>
            Когда солнце уйдет на бекрень,<br>
            Когда в водке одна услада<br>
            Ну, а душу съедает лень.<br><br>
            ****<br><br>
            Но зачем мне все это надо<br>
            Все равно я понять не смогу<br>
            Ты должна быть вроде награды,<br>
            А не болью в левом боку.<br>
            Ты проходишь, заглянешь в душу,<br>
            Боль и нечисть туда занесешь.<br>
            Я же должен сидеть и слушать,<br>
            Просто так, за здорово живешь.</p><br>

            <p>****<br><br>
            Мы с тобою ведь разные люди,<br>
            Ну когда же ты это поймешь,<br>
            Нам не жрать из одной посуды<br>
            Водку ту, что с собой принесешь<br>
            И не будет нам общего крова<br>
            И постель не будет одна<br>
            Так что ты поищи другого<br>
            Я же сыт тобою сполна<br><br>
            ****<br><br>
            Но опять ты без стука, нежданно<br>
            Вдруг являешься передо мной<br>
            И изгибы прелестного стана<br>
            Будоражат и рушат покой<br>
            И опять кровь по жилам рванется<br>
            Как мустанг уходя от петли,<br>
            А к утру на листке остаются,<br>
            Боль и слезы, а не стихи...</p><br><br>

            <p class="post_date" style="text-align:right;">Келесидис Д.Н. 1975г. </p>


        </div>

{% endblock  %}

{% block footer %}
{{ super() }}
{% endblock %}


</html>