/* html and body height 100% otherwise
the footer don't stay down,  */

/* defaults 

background: url(path or link) repead;
 */ 

*{
	margin: 0;
	padding: 0;
}

/*The image will not lose qualiti*/
img {max-width: 100%}

html, body {
	/*background-color: #fbf8f3;*/
	background-color: 
	font-size: 100%;
	height: 98%;
  	margin: 0;
}

#container {
  display: table;
  height: inherit;
  width: 100%;
}

#content {
    /*border: solid 1px black;*/
    /*border-radius: 5px;*/
    margin: .4em .2em;
    height: inherit;
}

#header {
	background-color: black;
	width: 100%;
}

#header_index {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;

}

.navbar{
	display: inline-block;
	margin: 0.8em;
}


div.navbar a {
	font-size: 1em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}

div.navbar a:hover {
	font-size: 1em;
	text-decoration: none;
	color: white;
	/*color: #efefef;*/
}

.hero {
	background-image: url('../img/old_typemashin_full.jpg');
	background-size: cover;
	width: 100%; 
	height: 100vh;
}

#welcome_button{
	position: absolute;
	/*top:0;*/
    bottom: 0;
    /*left: 0;*/
    right: 0;
    height: 50px;
    width: 100%;
    margin:  auto;
    margin-bottom: 90px;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    /*background-color: rgb(0, 0, 0.8);*/
    /*border-radius: 4px;*/
    /*text-decoration: none;*/
    /*text-transform: none;*/
    /*padding: 5px 7px;*/
    /*vertical-align: middle;*/
    /*border: 2px rgba(255, 255, 255, 0.4) solid;*/
    /*font-family: 'the girl next door';*/
    /*white-space: nowrap;*/
    /*cursor: pointer;*/
    /*overflow: hidden;*/
    /*background: none;*/
    /*z-index: 1;*/
    /*-webkit-appearance: none;    */
    /*padding: 5px 5px;*/
    /*font-weight: 700;*/
}

div#welcome_button a{
	/*position: absolute;*/
	text-decoration: none;
	color: rgba(160, 115, 92, 0.8);
	font-weight: 500;
	font-size: 3.5em;
	font-family: "Waiting for the Sunrise";
    /*font-family: "Give You Glory","Waiting for the Sunrise", "The Girl Next Door";*/
/*	background-color: #b4b2ae;
	border-radius: 5px;
	width: 4em;
	height: 1em;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
*/	/*padding: 2em;*/
}

div#welcome_button a:hover{
	color: white;
}

/* =========================== */

.blog_post{
	font-family:  Georgia;
	font-size: 1.4em;
	padding: 1.5em;
	background-color: rgba(255,255,255, 0.9);
	margin: 2em auto;
	width: 60%;
	border-radius: 5px;

	/* 0px left right, 0 px, up or down, 15px blur, 8px size*/
	box-shadow: -0px 0px 15px 8px  #b7b7b7;

}

div.blog_post h3 {
	text-align: center;
}

.blog_preview{
	font-family:  Georgia;
	font-size: 1.2em;
	padding: 1.5em;
	background-color: rgba(255,255,255, 0.9);
	margin: 2em auto;
	width: 60%;
	border-radius: 5px;

	/* 0px left right, 0 px, up or down, 15px blur, 8px size*/
	box-shadow: -0px 0px 15px 8px  #b7b7b7;
}

div.blog_preview h3 {
	text-decoration: none;
	text-align: center;
}

div.blog_preview a {
	text-decoration: none;
	color: #878582;
}
div.blog_preview a:hover {
	color: #b4b2ae;
}

.post_date{
	font-size: 0.8em;
	color: #7a7a7a;
}

.read_more{
	font-size: 0.8em;
}

#elisabeth_rus_bg {
	background-image: url('../img/personal/girl_arested_2.png');
	background-repeat: no-repeat;
	background-size:auto;
	display: table;
}

#personal_bg {
	background-image: url('../img/personal/lie_girl_disp.png');
	background-repeat: no-repeat;
	background-size:cover;
	display: table;
	/*When posts > 5 make :*/
	/*background-size: 100%;*/
	/*background-position: bottom;*/
}

#poem_rus_bg {
	background-image: url('../img/personal/after_that.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

/****** contact ********/

#success_bg{
    background-image: url('../img/swallow_brings_message.png');
    background-repeat: no-repeat;
    height: 100%;
}

#contact_success {
    width: 700px;
    height: 500px;
    margin: 50px auto;
    font-size: 1.3em;
    font-family: "georgia";
    padding: 30px;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 5px;
    box-shadow: -0px 0px 15px 8px #b7b7b7;
}
div#contact_success h3 {
    margin: 180px auto;
}

#contact_wrapper {
    width: 980px;
    height: 500px;
    margin: 100px auto;
    padding: 30px;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 5px;
    box-shadow: -0px 0px 15px 8px #b7b7b7;
}

#contact_info {
    width: 300px;
    float: left;
    font-family: "courier new";
    margin-right: 60px;
    padding: 10px;
    color: #4b4949;
      
}

#contact {
    width: 500px;
    float: left;
}

form[name=contact ] p{
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
  font-family: "courier new";
  color: #4b4949;
}
 
form input#name,
form input#email {
    width: 400px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #898989;
    padding: 5px;
    font-size: 1em;
    font-family: georgia;

}


form input#name:hover,
form input#email:hover {
    border: 2px solid #cccccc;

}
form input#name:focus,
form input#email:focus {
    border: 2px solid #cccccc;
    outline: 0;

}
 
form textarea#message {
    width: 500px;
    height: 100px;
    background-color: #fafafa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #898989;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1em;
    font-family: georgia;
}
form textarea#message:hover {
    border: 2px solid #cccccc;
}
form textarea#message:focus {
    border: 2px solid #cccccc;
    outline: 0;
}

 
form input#submit {
    font-size: 1.5em;
    font-family: "courie new";
    width: 6em;
    height: 1.6em;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:2px solid #898989;
    font-weight:bold; 
    text-align: center; 
    color: #ffffff; 
    background-color: #898989;
/*    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
*/}
 
form input#submit:hover {
  cursor: pointer;
  border:2px solid #9b9b9b; 
  background-color: #9b9b9b;
/*  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
*/}


/* ********************** */

#footer {
	position: static;
	text-align: center;
	/*background-color: rgb(0, 0, 0.8);*/
	/*background-color: rgba(0, 0, 0, 0.8);*/
	background-color: black;
	width: 100%;
}

#footer p {
	color: white;
	padding: 1.3em;
	font-size: 0.8em;
}

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}

