/* html and body height 100% otherwise
the footer don't stay down,  */

/* defaults 

background: url(path or link) repead;
 */ 

*{
	margin: 0;
	padding: 0;
}

/*The image will not lose qualiti*/
img {max-width: 100%}

html, body {
	background-color: #fbf8f3;
	font-size: 100%;
	height: 98%;
  	margin: 0;
}


#header {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #b4b2ae;
	background-color: #b4b2ae;
	border-radius: 5px;
	width: 80%;
}

.navbar{
	display: inline-block;
	margin: 0.8em;
}


div.navbar a {
	font-size: 1em;
	text-decoration: none;
	color: white;
}
div.navbar a:hover {
	font-size: 1em;
	text-decoration: none;
	color: #efefef;
}



/* =========================== */

.blog_post{
	font-family:  Georgia;
	font-size: 1.4em;
	padding: 1.5em;
	background-color: white;
	margin: 2em auto;
	width: 60%;
	border-radius: 5px;

	/* 0px left right, 0 px, up or down, 15px blur, 8px size*/
	box-shadow: -0px 0px 15px 8px  #b7b7b7;
}

div.blog_post h3 {
	text-align: center;
}


.blog_preview{
	font-family:  Georgia;
	font-size: 1.2em;
	padding: 1.5em;
	background-color: white;
	margin: 2em auto;
	width: 60%;
	border-radius: 5px;

	/* 0px left right, 0 px, up or down, 15px blur, 8px size*/
	box-shadow: -0px 0px 15px 8px  #b7b7b7;
}

div.blog_preview h3 {
	text-decoration: none;
	text-align: center;
}

div.blog_preview a {
	text-decoration: none;
	color: #878582;
}
div.blog_preview a:hover {
	color: #b4b2ae;
}



.post_date{
	font-size: 0.8em;
	color: #7a7a7a;

}

.read_more{
	font-size: 0.8em;
}



/* ********************** */

#footer {
	margin: 10px auto;
	position: static;
	text-align: center;
	border: 1px solid #b4b2ae;
	background-color: #b4b2ae;
	border-radius: 5px;
	width: 80%;
	
}

#footer p {
	padding: 0.5em;
	font-size: 0.8em;
}
